@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Unica+One');

footer {
    background: rgba(36,36,36,1);
    bottom: 0;
    color: whitesmoke;
    position: relative;
    width: 100%;
}

header {
    background: rgba(41,41,41,1);
    background: -moz-linear-gradient(left, rgba(41,41,41,1) 0%, rgba(46,46,46,1) 46%, rgba(36,36,36,1) 51%, rgba(38,38,38,1) 71%, rgba(38,38,38,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,41,41,1)), color-stop(46%, rgba(46,46,46,1)), color-stop(51%, rgba(36,36,36,1)), color-stop(71%, rgba(38,38,38,1)), color-stop(100%, rgba(38,38,38,1)));
    background: -webkit-linear-gradient(left, rgba(41,41,41,1) 0%, rgba(46,46,46,1) 46%, rgba(36,36,36,1) 51%, rgba(38,38,38,1) 71%, rgba(38,38,38,1) 100%);
    background: -o-linear-gradient(left, rgba(41,41,41,1) 0%, rgba(46,46,46,1) 46%, rgba(36,36,36,1) 51%, rgba(38,38,38,1) 71%, rgba(38,38,38,1) 100%);
    background: -ms-linear-gradient(left, rgba(41,41,41,1) 0%, rgba(46,46,46,1) 46%, rgba(36,36,36,1) 51%, rgba(38,38,38,1) 71%, rgba(38,38,38,1) 100%);
    background: linear-gradient(to right, rgba(41,41,41,1) 0%, rgba(46,46,46,1) 46%, rgba(36,36,36,1) 51%, rgba(38,38,38,1) 71%, rgba(38,38,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#262626', GradientType=1 );    color: whitesmoke;
}

main {
    background: #1e1e1e;
    padding-top: 1em;
}

.ctrlBtn {
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: 2px solid whitesmoke;
    font-family: 'Unica One', cursive;
    transition-property: box-shadow;
    transition-duration: 500ms;
}

.ctrlBtn:hover {
    cursor: pointer;
}

.logo {
    font-family: 'Righteous', cursive;
}

.rect {
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: thick solid whitesmoke;
    height: 19em;
    width: 100%;
}

.redRect {
    background: #c30000;
    transition-property: box-shadow;
    transition-duration: 500ms;
}

.redRect:hover {
    cursor: pointer;
    -webkit-box-shadow: 6px 3px 48px 4px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 6px 3px 48px 4px rgba(255, 0, 0, 0.75);
    box-shadow: 6px 3px 48px 4px rgba(255, 0, 0, 0.75);
}

.blueRect {
    background: #0000c3;
    transition-property: box-shadow;
    transition-duration: 500ms;
}

.blueRect:hover {
    cursor: pointer;
    -webkit-box-shadow: 6px 3px 48px 4px rgba(0, 0, 255, 0.75);
    -moz-box-shadow: 6px 3px 48px 4px rgba(0, 0, 255, 0.75);
    box-shadow: 6px 3px 48px 4px rgba(0, 0, 255, 0.75);
}

.greenRect {
    background: #005f00;
    transition-property: box-shadow;
    transition-duration: 500ms;
}

.greenRect:hover {
    cursor: pointer;
    -webkit-box-shadow: 6px 3px 48px 4px rgba(0, 255, 0, 0.75);
    -moz-box-shadow: 6px 3px 48px 4px rgba(0, 255, 0, 0.75);
    box-shadow: 6px 3px 48px 4px rgba(0, 255, 0, 0.75);
}

.yellowRect {
    background: #c3c300;
    transition-property: box-shadow;
    transition-duration: 500ms;
}

.yellowRect:hover {
    cursor: pointer;
    -webkit-box-shadow: 6px 3px 48px 4px rgba(255, 255, 0, 0.75);
    -moz-box-shadow: 6px 3px 48px 4px rgba(255, 255, 0, 0.75);
    box-shadow: 6px 3px 48px 4px rgba(255, 255, 0, 0.75);
}

.boxes {
    padding-bottom: 1em;
}